In [1]:
import pandas as pd
import ast
pd.set_option('display.max_columns', None)

In [12]:
df= pd.read_csv('myanimelist_episode_processed.csv')

In [13]:
df.head()

      id                                                eps
0  41619  [{'ep_num': '1', 'name': 'Without Ability', 's...
1  39948  [{'ep_num': '1', 'name': 'Enter Goryo', 'sup_n...
2  37510  [{'ep_num': '1', 'name': 'Ripped Apart: Someon...
3  42590  [{'ep_num': '1', 'name': 'Desolate', 'sup_name...
4  41265  [{'ep_num': '1', 'name': 'Dawn', 'sup_name': '...

In [22]:
len(df)

4024

In [36]:
hold = []
for i in eval(df.iloc[0].eps):
    x = i['name'].replace('â˜†',' ').replace('\xa0','')
    hold.append(x)

In [37]:
print(f'translate this list into arabic in context of anime {hold} please return in json list with Arabic only')

translate this list into arabic in context of anime ['Without Ability', 'Traveling Back in Time', 'Talented vs. Talentless', 'Healing', 'Talented vs Talentless 2', 'Necromancer', 'Necromancer Part 2', 'Talented vs Talentless 3', 'Survival of the Fittest', 'The Invisible Blade', 'The Invisible Blade Part 2', 'The Invisible Blade Part 3', 'Revival'] please return in json list with Arabic only

In [9]:
len(hold)

92