In [30]:
import pandas as pd
import json

In [42]:
anlist = pd.read_csv('anlist_data.csv')

In [32]:
json.loads(anlist.iloc[0].data)['data']['Media']['relations']

{'edges': [{'node': {'coverImage': {'extraLarge': 'https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx118686-bcOYTBwEbZnS.jpg',
     'large': 'https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/bx118686-bcOYTBwEbZnS.jpg',
     'medium': 'https://s4.anilist.co/file/anilistcdn/media/manga/cover/small/bx118686-bcOYTBwEbZnS.jpg'},
    'id': 118686,
    'idMal': 134765,
    'title': {'romaji': 'Nakitai Watashi wa Neko wo Kaburu',
     'english': None,
     'native': '泣きたい私は猫をかぶる',
     'userPreferred': 'Nakitai Watashi wa Neko wo Kaburu'},
    'type': 'MANGA',
    'format': 'MANGA',
    'seasonYear': None},
   'id': 42234,
   'relationType': 'ADAPTATION'}]}

In [33]:
anlist.head()

   mal_id                                               data
0   41168  {"data": {"Media": {"id": 114963, "idMal": 411...
1   41619  {"data": {"Media": {"id": 117343, "idMal": 416...
2   39948  {"data": {"Media": {"id": 110028, "idMal": 399...
3   37510  {"data": {"Media": {"id": 101338, "idMal": 375...
4   42590  {"data": {"Media": {"id": 122348, "idMal": 425...

In [36]:
anlist[anlist.data.duplicated()]

      mal_id                                               data
843    37719  {'errors': [{'message': 'Not Found.', 'status'...
926    35262  {'errors': [{'message': 'Not Found.', 'status'...
967    38414  {'errors': [{'message': 'Not Found.', 'status'...
1048   43555  {'errors': [{'message': 'Not Found.', 'status'...
1077   53273  {'errors': [{'message': 'Not Found.', 'status'...
...      ...                                                ...
5900   52921  {'errors': [{'message': 'Not Found.', 'status'...
5901   10822  {'errors': [{'message': 'Not Found.', 'status'...
5924   56243  {'errors': [{'message': 'Not Found.', 'status'...
5937   53135  {'errors': [{'message': 'Not Found.', 'status'...
5938   41341  {'errors': [{'message': 'Not Found.', 'status'...

[132 rows x 2 columns]

Remove Data where anime not found

In [40]:
anlist.iloc[5937].data

{'errors': [{'message': 'Not Found.',
   'status': 404,
   'locations': [{'line': 3, 'column': 3}]}],
 'data': {'Media': None}}

In [44]:
def remove_errors(x):
    x = json.loads(x)
    if 'errors' in x:
        return None
    else:
        return x

In [45]:
anlist.data = anlist.data.apply(remove_errors)

In [46]:
anlist.isna().sum()

mal_id      0
data      133
dtype: int64

In [47]:
anlist.dropna(subset='data',inplace=True)

In [49]:
anlist.to_csv('anlist_cleaned.csv',index=False)

In [18]:
len(anlist)

5946